{% extends 'base.html.twig' %}

{% block title %}Villas Blue
{% endblock %}

{% block body %}
<div class="slide" id="concIntro">
        <img id="intro-logo" src="{{asset('images/logo-03.png')}}" alt="Logo">
     <div class="sep">
        <img src="{{asset('images/separation-bottom.png')}}" alt="separation">
    </div>
</div>
<div class="slide" id="qui">
    <h3><div class="script">{% trans %}What about us ?{% endtrans %}</div></h3>
    <h4 style="width:80%; text-align:center; margin: 0 auto">{% trans %}Find a place to stay, discover our activities and services, or suggest your own accommodation! Our team is on hand 7 days a week to help you by phone, e-mail or chat. We're here to answer all your questions 24 hours a day.{% endtrans %}</h4>
    <h3><div class="script">{% trans %}Are you traveller ?{% endtrans %}</div></h3>
    <h4 style="width:80%; text-align:center; margin: 0 auto">{% trans %}Our team lives on site, so they know your future destination and the experiences to be had there inside out. Take advantage of their expertise and create a trip tailored to your desires with them.{% endtrans %}</h4>
</div>
<div class="container">
    <div class="line">
        <div class="photo">
            <img src="{{asset('images/photo3.png')}}" alt="image conciergerie">
            <img class="deco-right" src="{{asset('images/triangle-right.png')}}" alt="image conciergerie">
        </div>
        <div class="text">
            <div>
               <h3>SEARCH</h3>
                <p>Discover all our accommodations adapted to your travel needs and find the ideal rental for your vacation.Choose a house, villa or apartment with excellent reviews, flexible booking conditions and all the amenities you need.Check availability and rates in real time and book instantly via our form!</p>
            </div>
        </div>
    </div>
    <div class="line line-flex">
        <div class="text">
            <div>
                <h3>BOOK NOW</h3>
                <p>
               24-hour security at LES VILLAS BLUE! Instantly book your accommodation online with our stress-free payment system.Select the dates of your stay, check availability in real time, choose your payment method and confirm your booking instantly.Receive an email with your booking confirmation and access our private messaging system to organize your arrival and stay.</p>
            </div>
        </div>
        <div class="photo">
            <img src="{{asset('images/photo2.png')}}" alt="image conciergerie">
            <img class="deco-left" src="{{asset('images/triangle-left.png')}}" alt="image conciergerie">
        </div>
    </div>
    <div class="line">
        <div class="photo">
            <img src="{{asset('images/photo4.png')}}" alt="image conciergerie">
            <img class="deco-right" src="{{asset('images/triangle-right.png')}}" alt="image conciergerie">
        </div>
        <div class="text">
            <div>
                <h3>TRAVEL</h3>
                <p>In complete serenity with our team. Create and personalize a trip that suits you with the help of our hosts. Select the services and experiences you need to make the most of your stay according to your desires. Using our private messaging system: organize your arrival and departure, order an airport transfer, book an additional household, book a lunch on the beach, rent a bike...</p>
            </div>
        </div>
    </div>
</div>
<div class="slide">
    <h3 style="width:100%; text-align:center; margin: 20px">SERVICES + BLUE VILLAS</h3>
    <p style="width:80%; text-align:center; margin: 0 auto">
    Within 24 hours of your reservation for all accommodations. If you book on our website, benefit from the best price guarantee. Welcome, parking, housekeeping, linen, 7/7 assistance, all-inclusive concierge service. </p>
</div>
<div class="buttons" style="width: 100%; display: flex; justify-content: center; margin-bottom: 30px">
    <a href="{{path('partners')}}" class="azurBtn"><button class="azurButton">Découvrez nos partenaires</button></a>
</div>
    {% include "partials/footer.html.twig" %}
{% endblock %}
