{% extends 'base.html.twig' %}

{% block title %}Villas Blue{% endblock %}

{% block body %}
    <div class="slide" id="introhome">
        <img id="intro-logo" src="{{asset('images/logo-03.png')}}" alt="Logo">
        <div class="sep">
            <img src="{{asset('images/separation-bottom.png')}}" alt="separation">
        </div>
    </div>
    {% if app.user %}
         <a href="{{path('contact_mail',{'id':app.user.id})}}">Contact</a>
    {% endif %}
   
    <div class="slide" id="sepDiscover">
        <h3>{% trans %}
            Discover the world differently...
        {% endtrans %}</h3><br>
        <h4 class="script">{% trans %}Book your dream holiday in just a few clicks!{% endtrans %}</h4>
        <p><span class="script">{% trans %}Choose your destination{% endtrans %}</span></p>
        <div class="buttons">
           <a href="{{path('azur')}}"> <button class="azurButton">{% trans %}Côte d'Azur{% endtrans %}</button></a>
            <a href="{{path('floride')}}"><button class="florideButton">{% trans %}Florida{% endtrans %}</button></a>
        </div>
    </div>
    <div class="slide top3" id="topFlorida">
        <h4><div class="script">
            {% trans %}Our top 3 in Florida{% endtrans %}
        </div></h4>
        <div class="row">
            {% for immo in immosFloride %}
                {% include "partials/card.html.twig" %}
               
            {% endfor %}
                
        </div>
        <div class="more">
            <p>{% trans %}Discover all our homes in Florida...{% endtrans %}</p>
            <a href="{{path('floride')}}"><button>{% trans %}See&nbsp;more{% endtrans %}</button></a>
        </div>
    </div>
    <div class="slide" id="collection">
        <div class="sep-top">
            <img src="{{asset('images/top-sep.png')}}" alt="separation">
        </div>
        <div class="collectionadd">
            <p>{% trans %}Would you like your home to be part of the Villas Blue collection ...{% endtrans %}</p>
            <a href=""><button>{% trans %}I offer my accommodation{% endtrans %}</button></a>
        </div>
        <div class="sep-bottom top3" id="topAzur">
            <img src="{{asset('images/bottom-sep.png')}}" alt="separation">
        </div>
    </div>
    <div class="slide top3" id="topAzur">
        <h4><div class="script">
            {% trans %}Our favourites on the Côte d'Azur{% endtrans %}
        </div></h4>
        <div class="row">
            {% for immo in immosAzur %}
                {% include "partials/card.html.twig" %}
                
            {% endfor %}
        </div>
        <div class="more">
             <p>{% trans %}Discover all our homes on the Côte d'Azur...{% endtrans %}</p>
            <a href="{{path('azur')}}"><button>{% trans %}See&nbsp;more{% endtrans %}</button></a>
        </div>
    </div>
    <div class="slide" id="eventsHome">
        <div class="sep-top">
            <img src="{{asset('images/top-sep.png')}}" alt="separation">
        </div>
        <h3>
            {% trans %}A unique event to celebrate?{% endtrans %}
        </h3>
        <h4>
            <span class="script">{% trans %}Consider renting a villa in a magical, idyllic setting...{% endtrans %}</span>
        </h4>
        <div class="rowEvent">
            <div class="event">
                <img src="{{asset('images/lesvillasblue_babyshower.png')}}" alt="">
                <div class="eventTitle">{% trans %}Baby shower{% endtrans %}</div>
            </div>
            <div class="event">
                <img src="{{asset('images/lesvillasblue_evjf.png')}}" alt="">
                <div class="eventTitle">{% trans %}EVJF / EVG{% endtrans %}</div>
            </div>
            <div class="event">
                <img src="{{asset('images/lesvillasblue_mariage.png')}}" alt="">
                <div class="eventTitle">{% trans %}Wedding{% endtrans %}</div>
            </div>
        </div>
        <div class="discoverButton">
            <a href="{{path('activities')}}" id="discover"><button>{% trans %}Discover our activities{% endtrans %}</button></a>
        </div>
    </div>

    {% include "partials/footer.html.twig" %}
{% endblock %}
