<div class="card">
                <div class="card-title">
                    <p>
                        {% if app.request.locale == "en" %}
                            {{immo.titreEn}}
                        {% elseif app.request.locale == "es" %}
                            {{immo.titreEs}}
                        {% else %}
                            {{immo.titre}}
                        {% endif %}
                    </p>
                </div>
                <div class="card-img">
                    <img src="../../upload/{{immo.cover}}" alt="image du logement {{immo.titre}}">
                </div>
                <div class="card-caract"> 
                    <p>
                    {% if app.request.locale == "en" %}
                        {{immo.travellers}} travellers  -  {{immo.bedrooms}} room(s)
                    {% elseif app.request.locale == "es" %}
                        {{immo.travellers}} viajeros   -  {{immo.bedrooms}} dormitorio(s)
                    {% else %}
                        {{immo.travellers}} voyageurs  -  {{immo.bedrooms}} chambre(s)
                    {% endif %} 
                    </p>
                </div>
                <div class="card-price">
                    <p>
                    {% if app.request.locale == "en" %}
                        Starting at {{immo.priceEn}}$/night
                    {% elseif app.request.locale == "es" %}
                        Desde {{immo.price}}€/noche
                    {% else %}
                        À partir de {{immo.price}}€/nuit
                    {% endif %}
                    </p>
                </div><br>
                <div class="card-btn">
                    <a href="{{path('logement',{'id':immo.id})}}"><button>{% trans %}More information{% endtrans %}</button></a>
                </div>
            </div>