<nav>
  <div class="titre"><h1><a href="{{path('home')}}">Villas Blue</a></h1></div>
  <ul>
    <li><a href="{{path('home')}}">{% trans %}Home{% endtrans %}</a></li>
    <li><a href="{{path('azur')}}">{% trans %}Côte d'Azur{% endtrans %}</a></li>
    <li><a href="{{path('floride')}}">{% trans %}Florida{% endtrans %}</a></li>
    <li><a href="{{path('activities')}}">{% trans %}Our activities{% endtrans %}</a></li>
    <li><a href="{{path('conciergerie')}}">{% trans %}Owners{% endtrans %}</a></li>
    <li><a href="{{path('about')}}">{% trans %}Travellers{% endtrans %}</a></li>
    <li><a href="{{path('blog')}}">{% trans %}Blog{% endtrans %}</a></li>
    <li><a href="{{path('contact')}}">{% trans %}Contact{% endtrans %}</a></li>
    <li><a href="{{path('faq')}}">{% trans %}FAQ{% endtrans %}</a></li>
    <li class="sous-menu" style="cursor:pointer">{% trans %}Language<span style="font-size: 9pt"> ▼</span>{% endtrans %}
      <ul class="deroulant">
      {% for locale in locales %}
     
        {% if locale != app.request.locale %} <li>
          <a href="{{path('change_locale', {'locale': locale})}}" class="nav-link"> <img class="drapeau" src="{{asset('images/'~locale~'.png')}}" alt=""> </a></li>
        {% endif %}
      {# si on laisse les initiales de la langue{{locale|upper}} #}
      {% endfor %}
      </ul>
    </li>
  </ul>
  <div class="burger">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
</nav> 

<div id="menuResponsive">
  <ul>
    <li><a href="{{path('home')}}">{% trans %}Home{% endtrans %}</a></li>
    <li><a href="{{path('azur')}}">{% trans %}Côte d'Azur{% endtrans %}</a></li>
    <li><a href="{{path('floride')}}">{% trans %}Florida{% endtrans %}</a></li>
    <li><a href="{{path('activities')}}">{% trans %}Our activities{% endtrans %}</a></li>
    <li><a href="{{path('conciergerie')}}">{% trans %}Owners{% endtrans %}</a></li>
    <li><a href="{{path('about')}}">{% trans %}Travellers{% endtrans %}</a></li>
    <li><a href="{{path('blog')}}">{% trans %}Blog{% endtrans %}</a></li>
    <li><a href="{{path('contact')}}">{% trans %}Contact{% endtrans %}</a></li>
    <li><a href="{{path('faq')}}">{% trans %}FAQ{% endtrans %}</a></li>

    
    <li id="langue">
     {% for locale in locales %}
      <li>
        {% if locale != app.request.locale %}
           <a href="{{path('change_locale', {'locale': locale})}}" class="nav-link"> <img class="drapeau" src="{{asset('images/'~locale~'.png')}}" alt=""> </a></li>
        {% endif %}
      </li>
      {% endfor %}
    </li>
  </ul>
</div>


{% block javascripts %}
    {{encore_entry_script_tags('menu')}}
{% endblock %}