<nav>
  <div class="titre"><h1><a href="{{path('home')}}">Villas Blue</a></h1></div>
  <ul>
    <li><a href="{{path('conciergerie')}}">{% trans %}Conciergerie{% endtrans %}</a></li>
    <li><a href="{{path('azur')}}">{% trans %}Côte d'Azur{% endtrans %}</a></li>
    <li><a href="{{path('floride')}}">{% trans %}Florida{% endtrans %}</a></li>
    <li><a href="{{path('activities')}}">{% trans %}Our activities{% endtrans %}</a></li>
    <li><a href="{{path('about')}}">{% trans %}About{% endtrans %}</a></li>
    <li>
      {% for locale in locales %}
      {% if locale != app.request.locale %}
         <a href="{{path('change_locale', {'locale': locale})}}" class="nav-link">{{locale|upper}}</a>
      {% endif %}
      {% endfor %}
    </li>
  </ul>
  <div class="burger">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
</nav> 

<div id="menuResponsive">
  <ul>
    <li><a href="{{path('conciergerie')}}">{% trans %}Conciergerie{% endtrans %}</a></li>
    <li><a href="{{path('azur')}}">{% trans %}Côte d'Azur{% endtrans %}</a></li>
    <li><a href="{{path('floride')}}">{% trans %}Florida{% endtrans %}</a></li>
    <li><a href="{{path('activities')}}">{% trans %}Our activities{% endtrans %}</a></li>
    <li><a href="{{path('about')}}">{% trans %}About{% endtrans %}</a></li>
    <li id="langue">
      {% for locale in locales %}
      {% if locale != app.request.locale %}
         <a href="{{path('change_locale', {'locale': locale})}}" class="nav-link">{{locale|upper}}</a>
      {% endif %}
      {% endfor %}
    </li>
  </ul>
</div>


{% block javascripts %}
    {{encore_entry_script_tags('menu')}}
{% endblock %}