{% extends 'base.html.twig' %}

{% block title %}Villas Blue{% endblock %}

{% block body %}
    <div class="slide" id="concIntro">
         <img id="intro-logo" src="{{asset('images/logo-03.png')}}" alt="Logo">
        <div class="sep">
            <img src="{{asset('images/separation-bottom.png')}}" alt="separation">
        </div>
    </div>
    <div class="slide" id="conciergerieText">
        <h2>{% trans %}Discover our concierge service...{% endtrans %}</h2>
        <p class="script">{% trans %}Join the Villas Blue collection!{% endtrans %} </p>
        <p>{% trans %}With LES VILLAS BLUE, renting your home has never been easier. Set your own terms and conditions, leave the management to our team and we'll advertise your property simultaneously with our partners: Google Voyage, Airbnb, Booking, Abritel, Tripadvisor... at no extra cost.{% endtrans %}</p>
        <p>{% trans %}With a team of concierge travel and hospitality experts, we visit, check and evaluate your accommodation before accepting it for management and launching its worldwide distribution.{% endtrans %}</p>
    </div>
    <div class="container">
        <div class="line">
            <div class="photo">
                <img src="{{asset('images/housekeeping.jpg')}}" alt="image conciergerie">
                <img class="deco-right" src="{{asset('images/triangle-right.png')}}" alt="image conciergerie">
            </div>
            <div class="text">
                <div>
                    <h3>{% trans %}GET ONLINE: In 1 click, your accommodation on LESVILLASBLUE.COM!</h3>
                    <p>Discover all our services tailored to your needs and find the ideal formula with LES VILLAS BLUE. Receive an inspection and evaluation visit of your accommodation from one of our concierges, experts in travel, real estate and hospitality. Detail your conditions and set your rates together so that they can approve your listing in our catalog!{% endtrans %}</p>
                </div>
            </div>
        </div>
        <div class="line line-flex">
            <div class="text">
                <div>
                    <h3>CONFIDENCE</h3>
                    <p>{% trans %}Entrust the management and marketing of your property to our team! Increase your revenues by 40 percent and your rates by 26 percent with our premium photo service from photographers specialized in real estate and online tourism. We manage everything, including exclusive simultaneous broadcasting on our Partners' websites: Google Voyage, Airbnb, Booking, Abritel, Tripadvisor... at no extra cost.Benefit from the hotel-quality know-how of our concierges who live on site, welcome your travelers on arrival, supervise their stay and maintain your accommodation (cleaning, laundry...).{% endtrans %}</p>
                </div>
            </div>
            <div class="photo">
                <img src="{{asset('images/checkin.jpg')}}" alt="image conciergerie">
                <img class="deco-left" src="{{asset('images/triangle-left.png')}}" alt="image conciergerie">
            </div>
        </div>
        <div class="line">
            <div class="photo">
                <img src="{{asset('images/photo.jpg')}}" alt="image conciergerie">
                <img class="deco-right" src="{{asset('images/triangle-right.png')}}" alt="image conciergerie">
            </div>
            <div class="text">
                <div>
                    <h3>Rent</h3>
                    <p>{% trans %}We communicate each rental period transparently, so you can consult your calendar to stay at home whenever you want, and stay informed of rental activity every week. Simply collect your rents and manage your rental accounting with complete peace of mind{% endtrans %}.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="slide">
        <p style="width:100%; text-align:center; margin: 20px">{% trans %}Take advantage of our exclusive partnership with Airbnb, Abritel, Booking, Google, etc.! {% endtrans %}<br> {% trans %}Welcome your travellers, cleaning, linen, work, assistance, concierge service.{% endtrans %}</p>
    </div>
    <div class="slide" id="formulaire">
        <h2 style="text-align: center">{% trans %}Offer your property for rent{% endtrans %}</h2>
        <p style="text-align: center">{% trans %}Fill in the form and we'll get back to you as soon as possible...{% endtrans %}</p>
        {{form_start(myform)}}
            {{form_widget(myform)}}
        {{form_end(myform)}}
    </div>
{% include "partials/footer.html.twig" %}
{% endblock %}
