<!doctype html>
<html lang="fr">
<h1> Demande de contact </h1>
<p>
    
    Bonjour, <b></b> <br>
    Vous avez récemment reçu une demande de contact sur votre site les villas blue :<br>

    <b>Nom d'utilisateur : {{contact.name}}</b><br>
    <b>Email : {{contact.email}}</b><br>
    <b>Téléphone : {{contact.phone}}</b><br>
    <b>Adresse : {{contact.adress}}</b><br>
    <b>Superficie : {{contact.superficie}}</b><br>
    <p>Message :</p>
    <p>{{contact.message}}</p>
    <strong>Ceci est un mail automatique, merci de ne pas y répondre !</strong><br>
    

   
</p>


</html>