<!doctype html>
<html lang="fr">
<h1> Demande de réservation </h1>
<p>
    
    Bonjour, <b></b> <br>
    Vous avez récemment reçu une demande de réservation sur votre site les villas blue par :<br>
    <br>
    <p>Merci pour votre <strong>pré-réservation</strong>.</p><br>

    <b>Logement:</b> {{titlefr}}<br>

    <b>Nom d'utilisateur :</b> {{booking.name}}<br>
    <b>Email : </b>{{booking.email}}<br>
    <b>Téléphone : </b>{{booking.phone}}<br>
    <b>Email : </b>{{booking.phone}}<br>
    <b>Arrivée : </b>{{arrival}}<br>
    <b>Départ : </b>{{departure}}<br>
    <b>Adultes : </b>{{booking.adults}}<br>
    <b>Enfants : </b>{{booking.kids}}<br>
    <b>Lit enfant : </b>{{booking.kidbed}}<br>
    <b>Animaux : </b>{{booking.animal}}<br>
    <b>Nombre d'animaux : </b>{{booking.nbAnimals}}<br>
    <p>Message :</p>
    <p>{{booking.message}}</p>

    <strong>Nous vous répondrons dans les plus brefs délais !</strong>
    <strong>Ceci est un mail automatique, merci de ne pas y répondre !</strong><br>
    

   
</p>

<h1>Reservation Request</h1>
<p>
    
    Hello, <b></b> <br>
    You have recently received a reservation request on your site, Villas Blue, for:<br>
    <br>
    <p>Thank you for your <strong>pre-booking</strong>.</p><br>

    <b>Accommodation: {{titlefr}}</b><br>

    <b>Username: </b>{{booking.name}}<br>
    <b>Email: </b>{{booking.email}}<br>
    <b>Phone: </b>{{booking.phone}}<br>
    <b>Email: </b>{{booking.phone}}<br>
    <b>Arrival: </b>{{arrival}}<br>
    <b>Departure: </b>{{departure}}<br>
    <b>Adults: </b>{{booking.adults}}<br>
    <b>Kids: </b>{{booking.kids}}<br>
    <b>Child bed: </b>{{booking.kidbed}}<br>
    <b>Pets: </b>{{booking.animal}}<br>
    <b>Number of pets: </b>{{booking.nbAnimals}}<br>
    <p>Message:</p>
    <p>{{booking.message}}</p>
    
    <strong>We will get back to you as soon as possible! </strong><br>
    <strong>This is an automated email, please do not reply!</strong><br>
</p>

<h1>Solicitud de Reserva</h1>
<p>
    
    ¡Hola, <b></b> <br>
    Recientemente has recibido una solicitud de reserva en tu sitio, Villas Blue, para:<br>
    <br>
    <p>Gracias por su <strong>pre-reserva</strong>.</p><br>

    <b>Alojamiento:</b> {{titlefr}}<br>

    <b>Nombre de usuario: </b>{{booking.name}}<br>
    <b>Email: </b>{{booking.email}}<br>
    <b>Teléfono: </b>{{booking.phone}}<br>
    <b>Email: </b>{{booking.phone}}<br>
    <b>Llegada: </b>{{arrival}}<br>
    <b>Salida: </b>{{departure}}<br>
    <b>Adultos: </b>{{booking.adults}}<br>
    <b>Niños: </b>{{booking.kids}}<br>
    <b>Cama infantil: </b>{{booking.kidbed}}<br>
    <b>Mascotas: </b>{{booking.animal}}<br>
    <b>Número de mascotas: </b>{{booking.nbAnimals}}<br>
    <p>Mensaje:</p>
    <p>{{booking.message}}</p>
    
    <strong>¡Te responderemos lo antes posible! </strong><br>
    <strong>Este es un correo electrónico automático, ¡por favor no respondas!</strong><br>
</p>
</html>