<!doctype html>
<html lang="fr">
<h1> Demande de réservation </h1>
<p>
    
    Bonjour, <b></b> <br>
    Vous avez récemment reçu une demande de réservation sur votre site les villas blue par :<br>

    <b>Logement: {{titlefr}}</b><br>

    <b>Nom d'utilisateur : {{booking.name}}</b><br>
    <b>Email : {{booking.email}}</b><br>
    <b>Téléphone : {{booking.phone}}</b><br>
    <b>Email : {{booking.phone}}</b><br>
    <b>Arrivée : {{arrival }}</b><br>
    <b>Départ : {{departure }}</b><br>
    <b>Adultes : {{booking.adults}}</b><br>
    <b>Enfants : {{booking.kids}}</b><br>
    <b>Lit enfant : {{booking.kidbed}}</b><br>
    <b>Animaux : {{booking.animal}}</b><br>
    <b>Nombre d'animaux : {{booking.nbAnimals}}</b><br>
    
    <b></b>
    <p>Message :</p>
    <p>{{booking.message}}</p>
   
    <br>
    

   
</p>
</html>