{% extends 'base.html.twig' %}

{% block title %}Villsa Blue{% endblock %}

{% block body %}
    <div class="slide" id="introGalery">
         <img id="intro-logo" src="{{asset('images/logo-03.png')}}" alt="Logo">
        <div class="sep">
            <img src="{{asset('images/separation-bottom.png')}}" alt="separation">
        </div>
    </div>
    <div class="slide" id="titleFaq">
        <h2>They asked themselves the same questions...</h2>
        <p class="script">Here's our response!</p>
    </div>
    <div class="slide" id="contentFAQ">
    {% for question in questions %}
        <div class="questionCard">
            <p class="question"> 
                {% if app.request.locale == "en" %}
                    {{question.questionEn}}
                {% else %}
                    {{question.question}}
                {% endif %}
            </p>
            <p class="responses">
                {% if app.request.locale == "en" %}
                    {{question.responseEn}}
                {% else %}
                    {{question.response}}
                {% endif %}
            
            </p>
        </div>
    {% endfor %}
        
        
    </div>
    <div class="contactUs">
        <p>Haven't found the answer to your question?</p>
        <a href="{{path('contact')}}"><button>Contact us</button></a>
    </div>
    {% include "partials/footer.html.twig" %}
{% endblock %}
