{% extends 'base.html.twig' %}

{% block title %}Villas Blue{% endblock %}

{% block body %}
    <div class="slide" id="introGalery">
         <img id="intro-logo" src="{{asset('images/logo-03.png')}}" alt="Logo">
        <div class="sep">
            <img src="{{asset('images/blue-sep.png')}}" alt="separation">
        </div>
    </div>
    <div class="titleLogement">
            {% if app.request.locale == "en" %}
                <h2>{{immo.Titre}}</h2>
            {% elseif app.request.locale == "es" %}
                <h2>{{immo.TitreEs}}</h2>
            {% else %}
                <h2>{{immo.TitreEn}}</h2>
            {% endif %}
        <p>
            {{immo.address}}
        </p>
        <div class="caract">
            <div class="travellers">
                <p><i class="fa-solid fa-person"></i> {{immo.travellers}} {% trans %} traveller(s){% endtrans %}</p>
            </div>
            <div class="rooms">
                <p><i class="fa-solid fa-bed"></i> {{immo.bedrooms}} {% trans %} room(s){% endtrans %}</p>
            </div>
            <div class="bathrooms">
                <p><i class="fa-solid fa-shower"></i> {{immo.bathrooms}} {% trans %} bathroom(s){% endtrans %}</p>
            </div>
            {% if immo.piscine == 1 %}
            <div class="swimmingpool">
                <p><i class="fa-solid fa-person-swimming"></i> {% trans %} With swimming pool{% endtrans %}</p>
            </div>
            {% endif %}
            
            {% if immo.animals == 1 %}
            <div class="animals">
                <p><i class="fa-solid fa-dog"></i> {% trans %} Pets allowed{% endtrans %}</p>
            </div>
            {% else %}
            <div class="noanimals">
                <img src="{{asset('images/noDogs.png')}}" alt="no dogs logo" id="nodogs"> <p>{% trans %}Pets not allowed{% endtrans %}</p>
            </div>
            {% endif %}
            
            {% if immo.seafront == 1%}
            <div class="sea">
                <p><i class="fa-solid fa-water"></i> {% trans %} Seaside{% endtrans %}</p>
            </div>
            {% endif %}
            
        </div>
        <div class="priceLogement">
            <p id="price">{% trans %}Start from {% endtrans %} 
            {% if app.request.locale == "en" %}
                <span class="prix">{{immo.priceEn}}</span>$/night
            {% else %}
                <span class="prix">{{immo.price}}</span>€/nuit
            {% endif %}
            
            </p>
            <p>{% trans %}Arrival after 15:00 and departure by 10:00{% endtrans %}</p>
        </div>
    </div>
    <div class="galery">
        <img class="arrow-right" src="{{asset('images/triangle-right.png')}}" alt="arrow">
        <img class="arrow-left" src="{{asset('images/triangle-left.png')}}" alt="arrow">
        <div class="containerGalery">
             <img src="../../upload/{{immo.cover}}" alt="image du logement {{immo.titre}}">
        </div>
    </div>
    <div class="diaporama">
        {% for image in immo.images %}
             <img class="diapo" src="../../upload/{{image.file}}" alt="image du logement {{image.file}}">
        {% endfor %}
    </div>

    <div class="textIntro">
        <p>WE ARE CONSTANTLY CONCERNED ABOUT THE WELL-BEING OF OUR TRAVELLERS, WHICH IS WHY YOUR ARRIVAL WILL BE WELL LOOKED AFTER</p>
        <p>Basic necessities, baby equipment, housekeeping, concierge service...</p>
    </div>

    <div class="contentLogement">
        <div class="description">
            <div class="group">
                <h3>{% trans %}Description{% endtrans %}</h3>
                <p class="lined">
                    {% if app.request.locale == "en" %}
                        {{immo.descriptionEn | nl2br}}
                    {% else %}
                        {{immo.description | nl2br}}
                    {% endif %}
                </p>
            </div>
            <div class="group">
                <h3>{% trans %}Need to know{% endtrans %}</h3>
                <p class="lined">{% trans %}The flat is located in a residential area and is not suitable for parties, etc. It is very quiet, so we would ask you to respect the peace and quiet and not to make any noise after 10pm. This accommodation includes steps or staircases. Smoking accommodation.{% endtrans %}</p>
            </div>
        </div>
        <div class="logement">
            <div class="group">
                <h3>{% trans %}Housing{% endtrans %}</h3>
                <p> 
                    {% if app.request.locale == "en" %}
                        {{immo.logement | nl2br}}
                    {% else %}
                        {{immo.logementEn | nl2br}}
                    {% endif %}
                </p>
            </div>
        </div>
        <div class="equipement">
            <div class="group">
                <h3>{% trans %}Equipment{% endtrans %}</h3>
                <p> 
                    {% if app.request.locale == "en" %}
                        {{immo.equipement | nl2br}}
                    {% else %}
                        {{immo.equipement | nl2br}}
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
    <div class="calendar">
        <h2>{% trans %}Check availability{% endtrans %}</h2>
        <div class="calendrier">
            <img src="{{asset('images/calendar.png')}}" alt="">
        </div>
    </div>
    <div class="simulation">
        <h2>{% trans %}Calculate the cost of my stay{% endtrans %}</h2>
        <form id="priceForm" action="">
            <input type="date" id="dateArrivee" placeholder="Date d'arrivée">
            <input type="date" id="dateDepart" placeholder="Date de départ">
            <div id="estimate">{% trans %}Estimate{% endtrans %}</div>
            <div class="result">
                <span id="alert"></span>
                <p>
                    {% trans %}The total cost of your{% endtrans %} <span id="days"></span>{% trans %}nights stay is estimated at {% endtrans %} <span id="tarif"></span>{% trans %}$, excluding tourist tax.{% endtrans %}
                </p>
            </div>
        </form>
    </div>
    <button id="booking"><div id="script">{% trans %}I would like to book{% endtrans %}</div></button>
    <div class="slide logementFormulaire" id="formulaire">
        <h2 style="text-align: center">{% trans %}Interested in this property?{% endtrans %}</h2>
        <p style="text-align: center" class="script">{% trans %}Fill in the form and we'll get back to you as soon as possible!{% endtrans %}</p>
        
        {{form_start(myform)}}
            {{form_widget(myform)}}
            <p>{% trans %}The charge for the addition of a baby chair and cot is 25€.{% endtrans %}</p>
            <p>{% trans %}The fee for the addition of a high chair is 15€.{% endtrans %}</p>
            <p>{% trans %}The fee for pets is €50/day per animal.{% endtrans %}</p>
        {{form_end(myform)}}
    </div>
    {% include "partials/footer.html.twig" %}
{% endblock %}

{% block javascripts %}
    {{encore_entry_script_tags('booking')}}
{% endblock %}